* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    line-height:1.6;
}

header {
    background-color: #6f75ca;
    padding: 1rem 30rem;

}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
}

main {
    max-width:800px;
    margin: 0 auto;
    padding: 2rem;

}

section {
    margin-bottom: 4rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.project-card {
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;

}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #f5f5f5;
}